<div class="container pt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3"> Listado de Personas</span>
            <button class="btn btn-dark btn-lg float-end" (click)="openModalNew()">Agregar</button>


            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas ; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{persona.last_name}}</td>
                        <td>{{persona.name}}</td>
                        <td>{{persona.years}}</td>
                        <td>
                            <i class="fa-regular fa-pen-to-square fa-lg text-info"
                                (click)="openModalEdit(persona,i)"></i>
                            <i class="fa-regular fa-trash-can fa-lg ms-2 text-danger" (click)="deletePers(i)"></i>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>



<!-- Modal -->
<div class="modal" tabindex="-1" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-gradient text-white">
                <h5 class="modal-title">Agregar Persona</h5>
                <button type="button" class="btn-close" (click)="showModal = false"></button>
            </div>
            <div class="modal-body">
                <input type="text" [(ngModel)]="newPersona.name" placeholder="Nombre" class="form-control mb-2">
                <input type="text" [(ngModel)]="newPersona.last_name" placeholder="Apellido" class="form-control mb-2">
                <input type="number" [(ngModel)]="newPersona.years" placeholder="Edad" class="form-control">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="showModal = false">Cerrar</button>
                <button class="btn btn-primary" (click)="addPersona()">Agregar</button>
            </div>
        </div>
    </div>
</div>