<div class="container pt-4">
    <div class="card">
        <div class="card-body">
            <div class="position-relative mb-3">
                <span class="h3 position-absolute start-50 translate-middle-x">Listado de Personas</span>
                <button class="btn btn-dark btn-lg float-end" (click)="openModalNew()">Agregar</button>
            </div>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of paginatedPersonas ; let i=index">
                        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                        <td>{{persona.last_name}}</td>
                        <td>{{persona.name}}</td>
                        <td>{{persona.years}}</td>
                        <td>
                            <i class="fa-regular fa-pen-to-square fa-lg text-info"
                                (click)="openModalEdit(persona,i)"></i>
                            <i class="fa-regular fa-trash-can fa-lg ms-2 text-danger" (click)="deletePers(i)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <button class="page-link" (click)="prevPage()">Anterior</button>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Página {{currentPage}} de {{totalPages}}</span>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <button class="page-link" (click)="nextPage()">Siguiente</button>
                    </li>
                </ul>
            </nav>


        </div>

    </div>

</div>



<!-- Modal -->
<div class="modal" tabindex="-1" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-gradient text-white">
                <h5 class="modal-title">{{ isEditing ? 'Editar Persona' : 'Nueva Persona' }}</h5>
                <button type="button" class="btn-close" (click)="showModal = false"></button>
            </div>
            <div class="modal-body">
                <input type="text" [(ngModel)]="newPersona.name" placeholder="Nombre" class="form-control mb-2">
                <input type="text" [(ngModel)]="newPersona.last_name" placeholder="Apellido" class="form-control mb-2">
                <input type="number" [(ngModel)]="newPersona.years" placeholder="Edad" class="form-control">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="addPersona()">
                    {{ isEditing ? 'Guardar' : 'Agregar' }}
                </button> <button class="btn btn-secondary" (click)="showModal = false">Cerrar</button>
            </div>
        </div>
    </div>
</div>