<nav class="navbar navbar-dark custom-gradient">
    <div class="container-fluid d-flex align-items-center">
        <!-- Título a la izquierda -->
        <span class="navbar-brand mb-0 h1">Mi Practica Angular</span>

        <!-- Menú a la derecha con links e ícono -->
        <div class="d-flex align-items-center ms-auto">
            <a class="nav-link text-white" href="#">Inicio</a>
            <a class="nav-link text-white ms-3" href="list-person">Personas</a>
            <a class="nav-link text-white ms-3" href="#">Contacto</a>
            <i class="fa-regular fa-circle-user text-white ms-3" style="font-size: 1.5rem;"></i>
        </div>
    </div>
</nav>