<nav class="navbar navbar-dark custom-gradient">
    <div class="container-fluid d-flex align-items-center">
        <span class="navbar-brand mb-0 h1">Mi Practica Angular</span>

        <div class="d-flex align-items-center ms-auto">
            <a class="nav-link text-white d-flex align-items-center" href="#">
                <i class="fa-solid fa-house me-1"></i> Inicio
            </a>
            <a class="nav-link text-white d-flex align-items-center ms-3" href="list-person">
                <i class="fa-solid fa-user-group me-1"></i> Personas
            </a>
            <a class="nav-link text-white d-flex align-items-center ms-3" href="list-player">
                <i class="fa-solid fa-futbol me-1"></i> Jugadores
            </a>
            <a class="nav-link text-white d-flex align-items-center ms-3" href="contact">
                <i class="fa-solid fa-envelope me-1"></i> Contacto
            </a>
            <img src="assets/cara.jpg" alt="Usuario" class="rounded-circle ms-3"
                style="width: 32px; height: 32px; object-fit: cover;">
        </div>

    </div>
</nav>